body {
    display:flex;
    background-color: rgb(250, 250, 250);
    margin: auto;
    font-family: Arial;
}


.image {
    display:flex;
    background-image: url('./media/pexels-pixabay-355288.jpg');
    background-size:cover;
    justify-content: start;
    align-items: start;
    color: white;
    text-align: center;
    flex: 1 1 50%;
}
.logo {
    display: flex;
    justify-content: start;
    font-family: Arial;
    src: url('./media/Norse-Bold.otf');
    font-size: 5rem;
    align-items: center;
    color:rgb(250, 250, 250);
    background-color:rgba(51, 49, 49, 0.63);
    width: 100%;
    flex: 1 1 0;
}
.user-prompt-message {
    font-family: Arial;
    font-size: 1.25rem;
    font-weight: bold;
}
.row {
    display: flex;
    gap: 2rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 1.5rem;
    flex: 1 1 50%;
    min-width: 50%;
}
.form-bg-color {
    background-color: white;
    padding: 2.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
}
.header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 1.5rem;
    background-color: rgb(250, 250, 250);
    padding: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 40rem;
}
.labels {
    display:flex;
    flex-direction: column;
    gap: .5em;

}

input[type="text"],input[type="email"],input[type="number"] {
    font-size:1rem;
}

label {
    display:flex;
    flex-direction: column;
    font-family:Arial;
    font-weight: .4rem;
    font-size: .9rem;
    box-shadow: 10px;
    color: rgb(124, 124, 124);
}
input {
    border-radius: 5px;
    border-color: #E5E7EB;
    border-style: double;
    width: 20vw;
    min-width: 8.5rem;
    height: 1.8rem;
}
.footer-form {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: rgb(250, 250, 250);
}
#button {
    color: white;
    font-weight: bold;
    background: rgb(12, 200, 233);
    border-radius: 5px;
    border-color: rgb(12, 200, 233);
    font-size: 1.2rem;
    box-shadow: 4px 4px 4px grey;
    width : 12rem;
    height: 4.5rem;
}
input[type="submit"]:hover {
    transition: .5s;
    background: rgb(74, 224, 250);
}
a {
    color: rgb(1, 129, 18);
    font-weight: bold;
}
.login-footer {
    font-size: .6em;
}
input:focus {
    transition: .25s;
    height: 2.4rem;
    outline-color: rgb(231, 230, 230);
    box-shadow: 6px 6px 6px rgb(4, 135, 211);
}
input:focus:invalid {
    transition: .4s;
    height: 2.4rem;
    outline-color: rgb(250, 48, 48);
    box-shadow: 6px 6px 6px rgb(250, 48, 48);
}
@media (max-width: 1000px) {
    .image {
        display: none; /* Hide image on small screens */
    }
    .header {
        padding-top: 2em;
        padding-right: 0;
    }
    .form {
        flex: 0 0 100%; /* Make form take full width */
        min-width: 100%;
        align-items: center;
    }
    .footer-form {
        gap: 2em;
    }
}